{% extends "viewmaster/base_generic.html" %}
{% block title %}<title>Add Movie</title>{% endblock %}

{% block local_styles %}

fieldset {
	width: 800px;
	margin: 20px;
	padding: 10px;
	border: 1px groove;
	background-color: #eeeeee
}

.fs_table {
	table-layout: fixed;
	width: 780px;
}

.errorlist {
    margin: 0px;
    padding: 0px;
}

.errorlist li {
    list-style-type: none;
    color: red;
	font-weight: bold;
    font-size: 80%;
    margin: 0px;
    padding: 0px;
}

label.error {
	color: red;
	font-weight: bold;
	font-size: 80%;
	display: block;
}

select.error {
	color: red;
	border: 2px solid red;
	background-color: #FFFFD5;
}

#id_plot, #id_actors, #id_directors, #id_movie_id {
    pointer-events: none;
}

th, td {
	padding-right: 4px;
}

th {
	text-align: right;
}

{% endblock %}

{% block content %}
   <h4>Add Movie</h4>	
    <form id="add-form" method="post">
      {% csrf_token %}
      <fieldset>
      <legend>Summary</legend>
      <table class="fs_table">
      <tbody>
        <tr>
            <td colspan="6">
              {{ form.non_field_errors }}
            </td>
        </tr>
     	<tr>
      		<th>
      		  <label for="{{ form.title.id_for_label }}">Title</label>
      		</th>
      		<td colspan="5">
      		  {{ form.title }}
      		  {{ form.title.errors }}
      		</td>
      	</tr>
      	<tr>
      		<th>
      		  <label for="{{ form.plot.id_for_label }}">Plot</label>
      		</th>
      		<td colspan="5">
      		  {{ form.plot }}
      		</td>
      	</tr>
     	<tr>
      		<th>
      		  <label for="{{ form.actors.id_for_label }}">Actor(s)</label>
      		</th>
      		<td colspan="5">
      		  {{ form.actors }}
      		</td>
      	</tr>
     	<tr>
      		<th>
      		  <label for="{{ form.directors.id_for_label }}">Director(s)</label>
      		</th>
      		<td colspan="5">
      		  {{ form.directors }}
      		</td>
      	</tr>
      </tbody>
     </table>
     </fieldset>
 
     <fieldset>
     <legend>Technical</legend>
     <table class="fs_table">
     <tbody>
    	<tr>
      		<th>
      		  <label for="{{ form.release.id_for_label }}">Release</label>
      		</th>
      		<td>
      		  {{ form.release }}
      		  {{ form.release.errors }}
      		</td>
      		<th>
      		  <label for="{{ form.rating.id_for_label }}">Rating</label>
      		</th>
      		<td>
      		  {{ form.rating }}
      		</td>
      		<th>
      		  <label for="{{ form.duration.id_for_label }}">Duration</label>
      		</th>
      		<td>
      		  {{ form.duration }}
      		  {{ form.duration.errors }}
      		</td>
      	</tr>
     	<tr>
      		<th>
      		  <label for="{{ form.format.id_for_label }}">Format</label>
      		</th>
      		<td>
      		  {{ form.format }}
      		</td>
      		<th>
      		  <label for="{{ form.category.id_for_label }}">Genre</label>
      		</th>
      		<td>
      		  {{ form.category }}
      		  {{ form.category.errors }}
      		</td>
       	</tr>
    	<tr>
      		<th>
      		  <label for="{{ form.aspect.id_for_label }}">Aspect Ratio</label>
      		</th>
      		<td>
      		  {{ form.aspect }}
      		  {{ form.aspect.errors }}
      		</td>
      		<th>
      		  <label for="{{ form.audio.id_for_label }}">Audio</label>
      		</th>
      		<td>
      		  {{ form.audio }}
      		  {{ form.audio.errors }}
      		</td>
     	</tr>
     </tbody>
     </table>
     </fieldset> 
 
     <fieldset>
     <legend>Library</legend>
     <table class="fs_table">
     <tbody>
      	<tr>
      		<th>
      		  <label for="{{ form.collection.id_for_label }}">Collection</label>
      		</th>
      		<td colspan="2">
      		  {{ form.collection }}
      		  {{ form.collection.errors }}
      		</td>
       		<th>
      		  <label for="{{ form.title.id_for_label }}">Movie ID</label>
      		</th>
      		<td colspan="2">
      		  {{ form.movie_id }}
      		</td>
      		<td rowspan="2">
     		  {% if "http" in form.cover_ref.value %}
      			<img src="{{ form.cover_ref.value }}" width="100" alt="Movie Poster" />
      		  {% endif %}
       		</td>
      	</tr>
     	<tr>
      		<th>
      		  <label for="{{ form.cost.id_for_label }}">Cost</label>
      		</th>
      		<td>
      		  {{ form.cost }}
      		  {{ form.cost.errors }}
      		</td>
      		<th>
      		  <label for="{{ form.paid.id_for_label }}">Paid</label>
      		</th>
      		<td>
      		  {{ form.paid }}
      		</td>
      		<th>
      		  <label for="{{ form.bad.id_for_label }}">Bad</label>
      		</th>
      		<td>
      		  {{ form.bad }}
      		</td>
      	</tr>
       </tbody>
      </table>
   	  </fieldset>
      <input id="save" type="submit" value="Save" class="btn btn-primary">
      <button class="btn btn-warning" onclick="javascript:history.back();">Back</button>
      <button class="btn btn-info" onclick="window.location.href='{% url 'viewmaster:movie-list' %}'">Cancel</button>
    </form>
{% endblock %}

{% block more-js %}

<script nonce="{{request.csp_nonce}}">
$(document).ready(function () {
	
   $("#add-form").validate({
       debug: false,
       rules: {
           category: {
               required: function () {
                   if ($("#id_category option[value='']")) {
                       return true;
                   } else {
                       return false;
                   }
               }
           },
	       release: {
	    	      required: true,
	    	      min: 1900
	       },
	       duration: {
	    	   time24: true
	       },
       },
       messages: {
           category: "Select a genre",
           release: "Year must be 1900 or more",
           duration: "Invalid time format",
       },
   });

   $.validator.addMethod("time24", function(value, element) {
	    if (!/^([01]?[0-9]|2[0-3])(:[0-5][0-9])$/.test(value)) return false;
	    var parts = value.split(':');
	    if (parts[0] > 23 || parts[1] > 59) return false;
	    return true;
	}, "Invalid time format.");

});
</script>

{% endblock %}

