{% extends "viewmaster/base_generic.html" %}

{% block content %}

<h1>Clear Movie IMDB info</h1>

<p>
  With movie '{{ movie.title }}' (ID={{movie.id}}) released in {{ movie.release }}
  enter your choice for IMDB info...
</p>

<form action="" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" name="clear" class="btn btn-primary">Clear</button>
  <button type="submit" name="clear_and_find" class="btn btn-primary">Clear and find IMDB info</button>
  <button class="btn btn-warning" onclick="javascript:history.back();">Back</button>
  <button id="cancelBtn" class="btn btn-info">Cancel</button>
</form>

{% endblock %}


{% block javascript %}
<script>
// Redirect to list, without submitting form and deleting
document.getElementById("cancelBtn").onclick = function () {
    window.location.href = "{% url 'viewmaster:movie-list' %}";
    return false;  // So that form is not submitted and form URL is not used
}
</script>
{% endblock %}
