{% extends "viewmaster/base_generic.html" %}

{% block content %}

<h1>Saved and Cleared Movie IMDB Info</h1>

<p>
  Saved movie '{{ movie.details.title }}' (ID={{movie.id}}) and cleared IMDB details.
</p>
<p>
  <button id="doneBtn" class="btn btn-info">Done</button>
  <button id="findBtn" class="btn btn-primary">Find IMDB info</button>
</p>

{% endblock %}

{% block javascript %}
  <script>
    // Redirect DELETE to a confirmation page
    document.getElementById("findBtn").onclick = function () {
        window.location.href = "{% url 'viewmaster:movie-lookup' movie.id %}";
        return false;  // So that form is not submitted and form URL used
    }
    document.getElementById("doneBtn").onclick = function () {
        window.location.href = "{% url 'viewmaster:movie-list' %}";
        return false;  // So that form is not submitted and form URL used
    }
  </script>
{% endblock %}
