{% extends "viewmaster/base_generic.html" %}
{% block title %}
<title>{% if movie %}Edit{% else %}Add{% endif %} Movie</title>
{% endblock %}

{% block css %}
  {% load static %}
  <link href="{% static 'viewmaster/css/forms.css' %}" media="all" rel="stylesheet" type="text/css" />
{% endblock %}
 
{% block content %}
   <h4>{% if movie %}Edit{% else %}Add{% endif %} Movie{% if movie %} ({{ movie.id }}){% endif %}</h4>	
    <form id="add-form" method="post">
      {% csrf_token %}
      <fieldset>
      <legend>Summary</legend>
      <table class="fs_table">
      <tbody>
        <tr>
            <td colspan="6">
              {{ form.non_field_errors }}
            </td>
        </tr>
     	<tr>
      		<th>
      		  <label for="{{ form.title.id_for_label }}">Title</label>
      		</th>
      		<td colspan="5">
      		  {{ form.title }}
      		  {{ form.title.errors }}
      		</td>
      	</tr>
      	<tr>
      		<th>
      		  <label for="{{ form.plot.id_for_label }}">Plot</label>
      		</th>
      		<td colspan="5">
      		  {{ form.plot }}
      		</td>
      	</tr>
     	<tr>
      		<th>
      		  <label for="{{ form.actors.id_for_label }}">Actor(s)</label>
      		</th>
      		<td colspan="5">
      		  {{ form.actors }}
      		</td>
      	</tr>
     	<tr>
      		<th>
      		  <label for="{{ form.directors.id_for_label }}">Director(s)</label>
      		</th>
      		<td colspan="5">
      		  {{ form.directors }}
      		</td>
      	</tr>
      </tbody>
     </table>
     </fieldset>
 
     <fieldset>
     <legend>Technical</legend>
     <table class="fs_table">
     <tbody>
    	<tr>
      		<th>
      		  <label for="{{ form.release.id_for_label }}">Release</label>
      		</th>
      		<td {% if overrides.release %}class="overridden"{% endif %}>
      		  {{ form.release }}
      		  {{ form.release.errors }}
      		  {% if overrides.release %}
      		      <div>(was {{ overrides.release_value }})</div>
      		  {% endif %}
      		</td>
      		<th>
      		  <label for="{{ form.rating.id_for_label }}">Rating</label>
      		</th>
      		<td {% if overrides.rating %}class="overridden"{% endif %}>
      		  {{ form.rating }}
      		  {% if overrides.rating %}
      		      <div>(was {{ overrides.rating_value }})</div>
      		  {% endif %}
      		</td>
      		<th>
      		  <label for="{{ form.duration.id_for_label }}">Duration</label>
      		</th>
      		<td {% if overrides.duration %}class="overridden"{% endif %}>
      		  {{ form.duration }}
      		  {{ form.duration.errors }}
      		  {% if overrides.duration %}
      		      <div>(was {{ overrides.duration_value }})</div>
      		  {% endif %}
      		</td>
      	</tr>
     	<tr>
      		<th>
      		  <label for="{{ form.format.id_for_label }}">Format</label>
      		</th>
      		<td>
      		  {{ form.format }}
      		</td>
      		<th>
      		  <label for="{{ form.category.id_for_label }}">Genre</label>
      		</th>
      		<td>
      		  {{ form.category }}
      		  {{ form.category.errors }}
      		</td>
       	</tr>
    	<tr>
      		<th>
      		  <label for="{{ form.aspect.id_for_label }}">Aspect Ratio</label>
      		</th>
      		<td>
      		  {{ form.aspect }}
      		  {{ form.aspect.errors }}
      		</td>
      		<th>
      		  <label for="{{ form.audio.id_for_label }}">Audio</label>
      		</th>
      		<td>
      		  {{ form.audio }}
      		  {{ form.audio.errors }}
      		</td>
     	</tr>
     </tbody>
     </table>
     </fieldset> 
 
     <fieldset>
     <legend>Library</legend>
     <table class="fs_table">
     <tbody>
      	<tr>
      		<th>
      		  <label for="{{ form.collection.id_for_label }}">Collection</label>
      		</th>
      		<td colspan="2">
      		  {{ form.collection }}
      		  {{ form.collection.errors }}
      		</td>
       		<th>
      		  <label for="{{ form.title.id_for_label }}">Movie ID</label>
      		</th>
      		<td colspan="2">
      		  {{ form.movie_id }}
      		</td>
      		<td rowspan="2">
     		  {% if "http" in form.cover_ref.value %}
      			<img src="{{ form.cover_ref.value }}" width="100" alt="Movie Poster" />
      		  {% endif %}
       		</td>
      	</tr>
     	<tr>
      		<th>
      		  <label for="{{ form.cost.id_for_label }}">Cost</label>
      		</th>
      		<td>
      		  {{ form.cost }}
      		  {{ form.cost.errors }}
      		</td>
      		<th>
      		  <label for="{{ form.paid.id_for_label }}">Paid</label>
      		</th>
      		<td>
      		  {{ form.paid }}
      		</td>
      		<th>
      		  <label for="{{ form.bad.id_for_label }}">Bad</label>
      		</th>
      		<td>
      		  {{ form.bad }}
      		</td>
      	</tr>
       </tbody>
      </table>
   	  </fieldset>
   	  <p>{{ form.cover_ref }}</p> <!-- this is hidden, but needed -->
      <input id="save" type="submit" value="Save" class="btn btn-primary">
      <button class="btn btn-warning" onclick="javascript:history.back();">Back</button>
      <button id="cancelBtn" class="btn btn-info">Cancel</button>
  	  {% if movie %}
  	  	<button id="deleteBtn" class="btn btn-danger">Delete</button>
  	  	<button type="submit" name="save_and_clear" class="btn btn-secondary">Clear IMDB Info</button>
  	  {% endif %}
    </form>
{% endblock %}

{% block javascript %}
  <script>
    {% if movie %}
        // Redirect DELETE to a confirmation page
        document.getElementById("deleteBtn").onclick = function () {
            window.location.href = "{% url 'viewmaster:movie-delete' movie.id %}";
            return false;  // So that form is not submitted and form URL used
        }
<!--        document.getElementById("clearBtn").onclick = function () {-->
<!--            window.location.href = "{% url 'viewmaster:movie-clear' movie.id %}";-->
<!--            return false;  // So that form is not submitted and form URL used-->
<!--        }-->
    {% endif %}
    document.getElementById("cancelBtn").onclick = function () {
        window.location.href = "{% url 'viewmaster:movie-list' %}";
        return false;  // So that form is not submitted and form URL used
    }
  </script>

  {% load static %}
  <script nonce="{{request.csp_nonce}}" src="{% static 'viewmaster/js/form-validator.js' %}"></script>
  <script nonce="{{request.csp_nonce}}" src="{% static 'viewmaster/js/enhanced-tool-tips.js' %}"></script>
{% endblock %}

