
{% extends "viewmaster/base_generic.html" %}

{% block local_styles %}
html {
  font-size: 14px;
}
body {
  margin: 0;
  padding: 0;
}

/* heading */
#pagehead {
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 4px;
}
#vers {
  display: inline-block;
  font-size: 0.6em;
  vertical-align: middle;
}

/* group headings */
.movie-category {
  font-size: large;
  font-weight: bold;
}
.go-top {
  text-align: right;
  font-size: 0.8em;
}

/* one group */
.categoryTable {
  /* border: 2px solid #ccd2ff; */
  border-collapse: collapse;
  /* margin: 0px 10px 20px 10px; */
}

a {
  color: #5165ff;
}

/* One movie */
.tableRow {
  text-decoration: none;
  color: inherit;
  border: 2px solid #ccd2ff;
  border-bottom: none;
  cursor: pointer;
  width: 100%;
  margin: 0px;
  padding: 2px;

  &:hover,
  &:focus {
    background: #f2f3ff;
    outline: none;
  }

  &:last-child {
    border-bottom: 2px solid #ccd2ff;
  }
}

.cover {
  padding-left: 0px;
}

.plot {
  height: 72px;  /* reserve three lines for plot */
}

{% endblock %}

{% block content %}
{% load static %}
<p id="pagehead">Movie Catalog - <span id="vers">V0.2.0</span></p>
<form action="{% url 'viewmaster:movie-list' %}" method="post" class="display: inline-block">
<div class="container-fluid text-center">
  <div class="row">
	<div class="col-auto mr-2 mb-2 d-none">
	{% csrf_token %}
	<!-- View modes -->
	</div>
	<div class="col-auto d-none">
		<input type="hidden" id="last-mode" name="last_mode" value="{{ mode }}" >
	</div>
 	<div class="col-auto mb-2">
	    <button type="submit" name="mode" value="alpha" class="btn btn-primary">Alphabetical</button>
	</div>
	<div class="col-auto mb-2">
		<button type="submit" name="mode" value="cat_alpha" class="btn btn-secondary">Genre/Alpha</button>
	</div>
	<div class="col-auto mb-2">
		<button type="submit" name="mode" value="cat_date_alpha" class="btn btn-secondary">Genre/Date/Alpha</button>
	</div>
	<div class="col-auto mb-2">
		<button type="submit" name="mode" value="date" class="btn btn-success">Date/Alpha</button>
	</div>
	<div class="col-auto mb-2">
		<button type="submit" name="mode" value="collection" class="btn btn-info">Collection/Date</button>
	</div>
	<div class="col-auto mb-2">
		<button type="submit" name="mode" value="disk" class="btn btn-info">Format/Alpha</button>
	</div>
	<!-- Modifiers -->
	<div class="col-auto mb-2 mt-2">
	  <div class="form-check">
	    <input class="form-check-input" type="checkbox" id="details"
	           name="show-details" value="show" {% if show_details %}checked{% endif %} >
	    <label class="form-check-label" for="details"> Show Details</label>
	  </div>
	</div>
	<div class="col-auto mb-2 mt-2">
	  <div class="form-check">
	    <input class="form-check-input" type="checkbox" id="LD"
	           name="showLD" value="show" {% if show_LD %}checked{% endif %} >
	    <label class="form-check-label" for="LD"> Show LDs</label>
	  </div>
	</div>
    <div class="col-auto mb-2">
	  <button type="button" onclick="window.location.href='{% url 'viewmaster:movie-find' %}'" class="btn btn-warning">
	    Add Movie
	  </button>
    </div>
  </div>
  <!-- Stats and search -->
  <div class="row">
    <div class="col-auto mb-2 mt-2">
      <strong>ALL:</strong> {{ total }} ({{ total_paid }} paid)
    </div>
    {% for s in stats %}
      <div class="col-auto mb-2 mt-2">
		<strong>{{ s.format }}:</strong> {{ s.count }} ave ${{ s.average | floatformat:"2" }}
	  </div>
    {% endfor %}
    <div class="col-3 mb-2">
      <input type="text" class="form-control" name="phrase" id="phrase" placeholder="title search" >
    </div>
    <div class="col-auto mb-2">
      <input type="image" name="search" src="{% static 'viewmaster/search.png' %} "border="0" style="width: 32px;" />
    </div>
  </div>
</div>
<br />
</form>
	{% if movies %}
	  {% if mode == "alpha" %}
	    {% regroup movies by alpha_order as ordered_movies %}
	  {% elif mode == "cat_alpha" or mode == "cat_date_alpha" %}
	    {% regroup movies by category_order as ordered_movies %}
	  {% elif mode == "date" %}
	    {% regroup movies by release_order as ordered_movies %}
	  {% elif mode == "collection" %}
	    {% regroup movies by collection_order as ordered_movies %}
	  {% else %}
	    {% regroup movies by format_order as ordered_movies %}
	  {% endif %}
	  {% for code, movie_group in ordered_movies %}
	    <!--  SHOW CATEGORY SECTION -->
	    <div class="container-fluid">
          <div class="row">
            <div class="col-lg movie-category">{{ code }}</div>
              <div class="col-lg go-top">
                <form class="display: inline-block">
                  {% csrf_token %}
                  <input type="BUTTON" value="Back to top of page" class="btn btn-link"
                         onclick="window.location.href='#top'">
                </form>
              </div>
            </div>
          </div>
	    </div>
	    <!-- SHOW MOVIE LIST -->
	    
	    <div class="container-fluid categoryTable">
 	    {% for movie in movie_group %}
		  <a class="row tableRow" href="{% url 'viewmaster:movie-lookup' movie.id %}">
		    <div class="col-lg cover">
		      <div>
		        <img src="{{ movie.cover_ref }}" width="75" alt="cover" />
		      </div>
		    </div>
		    <div class="col-lg-11">
		      <div class="row"> <!-- rest of movie info, left of cover -->
		        <div class="col-lg-5">{{ movie.title }}</div>
		        <div class="col-lg">{{ movie.rating }}</div>
		        <div class="col-lg-2">{{ movie.category }}</div>
		        <div class="col-lg">{{ movie.release }}</div>
		        <div class="col-lg-2">{{ movie.duration_str }}</div>
		      </div>
		      <div class="row">  <!-- lines 2-4 for plot -->
		        <div class="col-lg-11 plot">PLOT: {{ movie.plot|default:"?" }}</div>
		      </div>
		      <div class="row">  <!--  line 5 more info -->
		        <div class="col-lg-4">STARS: {{ movie.actors|default:"?" }}</div>
		        <div class="col-lg-2">DIRS: {{ movie.directors|default:"?" }}</div>
		        <div class="col-lg">{{ movie.aspect|default:"aspect?" }}</div>
		        <div class="col-lg">{{ movie.audio|default:"audio?" }}</div>
		        <div class="col-lg">COLL: {{ movie.collection }}</div>
		        <div class="col-lg">${{ movie.cost|default:"0" }}</div>
		        <div class="col-lg">{{ movie.format }}</div>
		      </div>
		    </div>
		  </a>
	    {% endfor %}
		</div>    

	  {% endfor %}
	{% else %}
	    <p>No matching movies.</p>
	{% endif %}
	
	<p>User: {{ user }} <a href="/admin/logout/">LOGOUT</a></p>
{% endblock %}
