
{% extends "viewmaster/base_generic.html" %}

{% block css %}
  {% load static %}
  <link href="{% static 'viewmaster/css/movie-list.css' %}" media="all" rel="stylesheet" type="text/css" />
{% endblock %}

{% block local_styles %}
.tight-right {
	margin-right: 0px;
	padding-right: 1px;
}

.tight-left {
	margin-left: 0px;
	padding-left: 0px;
}
{% endblock %}

{% block content %}
{% load static %}
<p id="pagehead">Movie Catalog - <span id="vers">v0.2.3</span></p>
<form action="{% url 'viewmaster:movie-list' %}" id="view_form" method="post" class="display: inline-block">
<div class="container-fluid text-center">
  <div class="row">
    <div class="col-auto mr-2 mb-2 d-none">
      {% csrf_token %}
 	  <!-- View modes -->
    </div>
    <div class="col-auto mt-2 fw-bold">
	    <label class="form-select-label" for="mode">Mode:</label>
	</div>
	<div class="col-2 mt-2">
		{{ form.mode }}
    </div>
	<!-- Modifiers -->
	<div class="col-auto mb-2 mt-2">
	  <div class="form-check">
	    {{ form.show_details }}
	    <label class="form-check-label" for="details"> Show Details</label>
	  </div>
	</div>
	<div class="col-auto mb-2 mt-2">
	  <div class="form-check">
	    {{ form.show_ld }}
	    <label class="form-check-label" for="LD"> Show LDs</label>
	  </div>
	</div>
    <div class="col-auto mb-2">
	  <button type="button" onclick="window.location.href='{% url 'viewmaster:movie-find' %}'" class="btn btn-warning">
	    Add Movie
	  </button>
    </div>
  </div>
  <!-- Stats and search -->
  <div class="row">
    <div class="col-auto mb-2 mt-2">
      <strong>ALL:</strong> {{ total }} ({{ total_paid }} paid)
    </div>
    {% for s in stats %}
      <div class="col-auto mb-2 mt-2">
		<strong>{{ s.format }}:</strong> {{ s.count }} ave ${{ s.average | floatformat:"2" }}
	  </div>
    {% endfor %}
    <div class="col-auto tight-right h-100">
    	{{ form.search_by }}
    </div>
    <div class="col-3 tight-left">
      <input type="text" class="form-control" name="phrase" id="phrase" placeholder="title search" >
    </div>
    <div class="col-auto mb-2">
      <input type="image" name="search" id="search" src="{% static 'viewmaster/search.png' %} "border="0" style="width: 32px;" />
    </div>
  </div>
</div>
</form>
	{% if movies %}
	  {% if form.mode.value == "alpha" %}
	    {% regroup movies by alpha_order as ordered_movies %}
	  {% elif form.mode.value == "cat_alpha" or form.mode.value == "cat_date_alpha" %}
	    {% regroup movies by category_order as ordered_movies %}
	  {% elif form.mode.value == "date" %}
	    {% regroup movies by release_order as ordered_movies %}
	  {% elif form.mode.value == "collection" %}
	    {% regroup movies by collection_order as ordered_movies %}
	  {% else %}
	    {% regroup movies by format_order as ordered_movies %}
	  {% endif %}
	  <!--  Show index -->
	  <div id="movie_index">
	  {% for code in ordered_movies %}
	    <a href="#go-{{ code.grouper }}">{{ code.grouper }}</a>&nbsp;&nbsp;
	  {% endfor %}
	  </div>
	  {% for code, movie_group in ordered_movies %}
	    <!--  SHOW CATEGORY SECTION -->
	    <div class="container-fluid">
          <div class="row group">
            <div id="go-{{ code }}" class="col-lg movie-category">{{ code }}</div>
              <div class="col-lg go-top">
                <form class="display: inline-block">
                  {% csrf_token %}
                  <input type="BUTTON" value="Back to top of page" class="btn btn-link go-button"
                         onclick="window.location.href='#top'">
                </form>
              </div>
            </div>
          </div>
	    </div>
	    <!-- SHOW MOVIE LIST -->
	    
	    <div class="container-fluid categoryTable">
	    {% if not form.show_details.value %}
          <div class="row header">
            <div class="row">
              <div class="col-lg-5">TITLE</div>
              <div class="col-lg">RATING</div>
              <div class="col-lg-3">CATEGORY</div>
              <div class="col-lg">DATE</div>
              <div class="col-lg">TIME</div>
              <div class="col-lg">FORMAT</div>
            </div>
          </div>
	    {% endif %}
 	    {% for movie in movie_group %}
		  <a class="row tableRow" href="{% url 'viewmaster:movie-lookup' movie.id %}">
	      {% if form.show_details.value %}
		    <div class="cover">
		      <div>
		        <img src="{{ movie.cover_ref }}" width="75" alt="cover" />
		      </div>
		    </div>
		    <div class="col-lg-12 rest">
		      <div class="row"> <!-- rest of movie info, left of cover -->
		        <div class="col-lg-7">{{ movie.title }}</div>
		        <div class="col-lg">{{ movie.rating }}</div>
		        <div class="col-lg">{{ movie.category }}</div>
		        <div class="col-lg">{{ movie.movie_id }}</div>
		        <div class="col-lg">{{ movie.release }}</div>
		        <div class="col-lg">{{ movie.duration_str }}</div>
		      </div>
		      <div class="row">  <!-- lines 2-4 for plot -->
		        <div class="col-lg-12 plot">PLOT: {{ movie.plot|default:"?" }}</div>
		      </div>
		      <div class="row">  <!--  line 5 more info -->
		        <div class="col-lg-5">STARS: {{ movie.actors|default:"?" }}</div>
		        <div class="col-lg-2">DIRS: {{ movie.directors|default:"?" }}</div>
		        <div class="col-lg">{{ movie.aspect|default:"aspect?" }}</div>
		        <div class="col-lg">{{ movie.audio|default:"audio?" }}</div>
		        <div class="col-lg">COLL: {{ movie.collection }}</div>
		        <div class="col-lg">${{ movie.cost|default:"0" }}</div>
		        <div class="col-lg">{{ movie.format }}</div>
		      </div>
		    </div>
		  {% else %}
		    <div class="row">
		      <div class="col-lg-5">{{ movie.title }}</div>
		      <div class="col-lg">{{ movie.rating }}</div>
		      <div class="col-lg-3">{{ movie.category }}</div>
		      <div class="col-lg">{{ movie.release }}</div>
		      <div class="col-lg">{{ movie.duration_str }}</div>
		      <div class="col-lg">{{ movie.format }}</div>
		    </div>
		  {% endif %}
		  </a>
	    {% endfor %}
		</div>    

	  {% endfor %}
	{% else %}
	    <p>No matching movies.</p>
	{% endif %}
	
	<p>User: {{ user }} <a href="/admin/logout/">LOGOUT</a></p>
{% endblock %}

{% block javascript %}
  <script>
    document.getElementById("id_mode").onchange = function () {
    	document.getElementById("view_form").submit();
    }
    document.getElementById("id_mode").onclick = function () {
    	document.getElementById("view_form").submit();
    }
    document.getElementById("search").onclick = function () {
  	  phrase = document.getElementById("phrase").value
  	  if (phrase == "") {
  		  alert("No phrase entered for search.")
  		  return false;
  	  }
  	  return true;
    }
  </script>
{% endblock %}

